<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en tiempo real</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-200 h-screen flex flex-col items-center justify-start p-5">

    <div class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md">
        <form id="formProduct" enctype="multipart/form-data" class="space-y-6">
            <h1 class="text-2xl font-semibold mb-2">Añadir nuevo producto:</h1>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label for="title" class="block text-sm font-medium text-gray-600">Nombre:</label>
                    <input id="title" type="text" class="mt-1 p-2 w-full border rounded-md">
                </div>

                <div>
                    <label for="category" class="block text-sm font-medium text-gray-600">Categoría:</label>
                    <select id="category" required class="mt-1 p-2 w-full border rounded-md">
                        <option value="" disabled selected> Selecciona una opción</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label for="price" class="block text-sm font-medium text-gray-600">Precio:</label>
                    <input id="price" type="number" class="mt-1 p-2 w-full border rounded-md">
                </div>

                <div>
                    <label for="stock" class="block text-sm font-medium text-gray-600">Stock disponible:</label>
                    <input id="stock" type="number" class="mt-1 p-2 w-full border rounded-md">
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label for="description" class="block text-sm font-medium text-gray-600">Descripción:</label>
                    <input id="description" type="text" class="mt-1 p-2 w-full border rounded-md">
                </div>

                <div>
                    <label for="thumbnail" class="block text-sm font-medium text-gray-600">Imagen:</label>
                    <input id="thumbnail" type="file" class="mt-1 p-2 w-full border rounded-md">
                </div>
            </div>

            <input type="submit" value="Cargar producto" 
                   class="w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-600">
        </form>
    </div>

    <h1 class="text-2xl font-semibold mb-2 mt-8">Lista de productos:</h1>
    <ul class="productList w-full max-w-md bg-white rounded-lg shadow-lg p-4" id="products"></ul>
    <p class="mt-5 mb-3 text-gray-600">© Docklin - Hecho por: Camila Lo Nero</p>
</body>

</html>
