<div class="flex flex-col min-h-screen">
    {{#if user}}
        {{>navbar user=user}}
        <div class="container mx-auto mt-4 mb-5 flex flex-col items-center text-center justify-between flex-grow">
            <hr class="border-opacity-25 w-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-24 h-24 text-green-500 mx-auto" viewBox="0 0 16 16">
            </svg>
            <h1 class="text-xl font-bold">Pago exitoso</h1>
            <hr class="border-opacity-25 w-full">
            <h3 class="text-lg">En breve recibir치s un email con la informaci칩n de tu compra</h3>
            <h2 class="text-xl">{{user.first_name}}, muchas gracias por preferirnos</h2>
        </div>
    {{else}}
        <div class="container mx-auto mt-4 mb-5 flex flex-col items-center text-center justify-between flex-grow">
            <h1 class="text-xl font-bold">Ocurri칩 un error</h1>
            <hr class="border-opacity-25 w-full">
            <h3 class="text-lg">No pudimos encontrar informaci칩n sobre el usuario. Por favor, vuelve a intentarlo.</h3>
        </div>
    {{/if}}
</div>
